In [9]:
import pandas as pd
import cv2
from lpr import localize_plate
import numpy as np
from lpr import area
from lpr import score
MAXHCHAR=37
MINHCHAR=16
INTER_CHARACTER_DISTANCE=4
MINWCHARS=53
MAXWCHARS=170
wP=80
hP=20
a1=0.25
a2=0.48
a3=1
a4=0.5
a5=0.5
plates=pd.read_csv('plates.csv')

plates['temp']=plates.apply(lambda r:score('dataset/'+r['file_name'], (r['from_x'], r['from_y'], r['to_x'], r['to_y']),INTER_CHARACTER_DISTANCE, MINWCHARS,MAXWCHARS, wP, MINHCHAR, MAXHCHAR,hP, a1, a2, a3, a4, a5), axis=1)
plates['score']=plates.apply(lambda r:r['temp'][0], axis=1)
plates['count']=plates.apply(lambda r:r['temp'][1], axis=1)
found=np.sum((plates['score']>.0))/len(plates)
plates.describe()

           from_x      from_y        to_x        to_y       score       count
count  126.000000  126.000000  126.000000  126.000000  126.000000  126.000000
mean   438.928571  333.595238  516.428571  354.452381    0.655725    6.626984
std     86.769412   41.960778   87.858015   41.819537    0.308545    3.288122
min    242.000000  256.000000  311.000000  279.000000    0.000000    1.000000
25%    357.500000  303.000000  434.750000  324.000000    0.450649    4.000000
50%    450.000000  319.000000  528.000000  339.500000    0.797813    6.000000
75%    507.750000  371.750000  587.750000  392.750000    0.908439    9.000000
max    625.000000  429.000000  684.000000  450.000000    1.000000   14.000000